<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suchuner.bidding.mapper.BiddingMapper" >
  <resultMap id="BaseResultMap" type="com.suchuner.bidding.pojo.Bidding" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="pjt_id" property="pjtId" jdbcType="BIGINT" />
    <id column="sup_id" property="supId" jdbcType="BIGINT" />
    <result column="margin_id" property="marginId" jdbcType="BIGINT" />
    <result column="isMargin" property="ismargin" jdbcType="INTEGER" />
    <result column="margin" property="margin" jdbcType="BIGINT" />
    <result column="cash" property="cash" jdbcType="BIGINT" />
    <result column="marginDoc" property="margindoc" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="isWinner" property="iswinner" jdbcType="TINYINT" />
    <result column="listPriceDoc" property="listpricedoc" jdbcType="VARCHAR" />
    <result column="bidDoc" property="biddoc" jdbcType="VARCHAR" />
    <result column="otherDoc" property="otherdoc" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="bussiness" property="bussiness" jdbcType="DOUBLE" />
    <result column="service" property="service" jdbcType="DOUBLE" />
    <result column="technology" property="technology" jdbcType="DOUBLE" />
    <result column="totalScore" property="totalscore" jdbcType="DOUBLE" />
    <result column="is_begin" property="isBegin" jdbcType="TINYINT" />
    <association column="pjt_id" property="project" resultMap="project" />
    <association column="sup_id" property="supplier" resultMap="supplier" />
  </resultMap>
  <resultMap id="project" type="com.suchuner.bidding.pojo.Project">
    <id column="pjt_id" property="id" jdbcType="BIGINT" />
    <result column="projectNum" property="projectnum" jdbcType="VARCHAR" />
    <result column="itemName" property="itemname" jdbcType="VARCHAR" />
    <result column="budget" property="budget" jdbcType="BIGINT" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="notice" property="notice" jdbcType="VARCHAR" />
    <result column="biddingDoc" property="biddingdoc" jdbcType="VARCHAR" />
    <result column="buyListAndReqDoc" property="buylistandreqdoc" jdbcType="VARCHAR" />
    <result column="biddingRequireDoc" property="biddingrequiredoc" jdbcType="VARCHAR" />
    <result column="otherDoc" property="otherdoc" jdbcType="VARCHAR" />
    <result column="starter" property="starter" jdbcType="BIGINT" />
    <result column="checker" property="checker" jdbcType="BIGINT" />
    <result column="startDate" property="startdate" jdbcType="DATE" />
    <result column="checkerDate" property="checkerdate" jdbcType="DATE" />
    <result column="dateline" property="dateline" jdbcType="DATE" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="judgeNums" property="judgenums" jdbcType="INTEGER" />
    <result column="winner" property="winner" jdbcType="BIGINT" />
    <result column="endDate" property="enddate" jdbcType="DATE" />
    <result column="bid" property="bid" jdbcType="BIGINT" />
    <result column="isBegin" property="isbegin" jdbcType="TINYINT" />
    <result column="reportDoc" property="reportdoc" jdbcType="VARCHAR" />
    <result column="isRebidding" property="isrebidding" jdbcType="TINYINT" />
    <result column="more_winner_id" property="moreWinnerId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="supplier" type="com.suchuner.bidding.pojo.Supplier">
    <id column="sup_id" property="id" jdbcType="BIGINT" />
    <result column="busEmail" property="busemail" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="linkMan" property="linkman" jdbcType="VARCHAR" />
    <result column="linkManEmail" property="linkmanemail" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="checkMan" property="checkman" jdbcType="BIGINT" />
    <result column="checkDate" property="checkdate" jdbcType="DATE" />
    <result column="checkInfo" property="checkinfo" jdbcType="VARCHAR" />
    <result column="bizLicRegNum" property="bizlicregnum" jdbcType="VARCHAR" />
    <result column="bizLicEndDate" property="bizlicenddate" jdbcType="DATE" />
    <result column="bizLicDoc" property="bizlicdoc" jdbcType="VARCHAR" />
    <result column="taxRegNum" property="taxregnum" jdbcType="VARCHAR" />
    <result column="taxRegEndDate" property="taxregenddate" jdbcType="DATE" />
    <result column="taxRegDoc" property="taxregdoc" jdbcType="VARCHAR" />
    <result column="orgCode" property="orgcode" jdbcType="VARCHAR" />
    <result column="orgCodeEndDate" property="orgcodeenddate" jdbcType="DATE" />
    <result column="orgCodeDoc" property="orgcodedoc" jdbcType="VARCHAR" />
    <result column="isAlive" property="isalive" jdbcType="INTEGER" />
    <result column="isNormal" property="isnormal" jdbcType="INTEGER" />
    <result column="companyName" property="companyname" jdbcType="VARCHAR" />
    <result column="shortName" property="shortname" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="regfund" property="regfund" jdbcType="BIGINT" />
    <result column="lawPerson" property="lawperson" jdbcType="VARCHAR" />
    <result column="idCard" property="idcard" jdbcType="VARCHAR" />
    <result column="startDate" property="startdate" jdbcType="DATE" />
    <result column="callNum" property="callnum" jdbcType="VARCHAR" />
    <result column="companyEmail" property="companyemail" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="empNums" property="empnums" jdbcType="INTEGER" />
    <result column="frame" property="frame" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pjt_id, sup_id, margin_id, isMargin, margin, cash, marginDoc, score, isWinner,
    listPriceDoc, bidDoc, otherDoc, price, bussiness, service, technology, totalScore, 
    is_begin
  </sql>
  <sql id="my_column_list">
    b.id, b.pjt_id, b.sup_id, b.margin_id, b.isMargin, b.margin, b.cash, b.marginDoc, b.score, b.isWinner,
    b.listPriceDoc, b.bidDoc, b.otherDoc, b.price, b.bussiness, b.service, b.technology, b.totalScore,
    b.is_begin, p.id, p.projectNum, p.itemName, p.budget, p.introduction, p.status, p.notice, p.biddingDoc, p.buyListAndReqDoc,
    p.biddingRequireDoc, p.otherDoc, p.winner,  p.isBegin, p.isRebidding,s.id,s.companyName, s.shortName, s.address, s.companyEmail, s.typeid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.suchuner.bidding.pojo.BiddingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="my_column_list" />
    from project p inner join bidding b on p.id = b.pjt_id inner join supplier s on b.sup_id = s.id
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bidding
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bidding
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.suchuner.bidding.pojo.BiddingExample" >
    delete from bidding
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.suchuner.bidding.pojo.Bidding" >
    insert into bidding (id, pjt_id, sup_id, 
      margin_id, isMargin, margin, 
      cash, marginDoc, score, 
      isWinner, listPriceDoc, bidDoc, 
      otherDoc, price, bussiness, 
      service, technology, totalScore, 
      is_begin)
    values (#{id,jdbcType=BIGINT}, #{pjtId,jdbcType=BIGINT}, #{supId,jdbcType=BIGINT}, 
      #{marginId,jdbcType=BIGINT}, #{ismargin,jdbcType=INTEGER}, #{margin,jdbcType=BIGINT}, 
      #{cash,jdbcType=BIGINT}, #{margindoc,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{iswinner,jdbcType=TINYINT}, #{listpricedoc,jdbcType=VARCHAR}, #{biddoc,jdbcType=VARCHAR}, 
      #{otherdoc,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{bussiness,jdbcType=DOUBLE}, 
      #{service,jdbcType=DOUBLE}, #{technology,jdbcType=DOUBLE}, #{totalscore,jdbcType=DOUBLE}, 
      #{isBegin,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.suchuner.bidding.pojo.Bidding" >
    insert into bidding
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pjtId != null" >
        pjt_id,
      </if>
      <if test="supId != null" >
        sup_id,
      </if>
      <if test="marginId != null" >
        margin_id,
      </if>
      <if test="ismargin != null" >
        isMargin,
      </if>
      <if test="margin != null" >
        margin,
      </if>
      <if test="cash != null" >
        cash,
      </if>
      <if test="margindoc != null" >
        marginDoc,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="iswinner != null" >
        isWinner,
      </if>
      <if test="listpricedoc != null" >
        listPriceDoc,
      </if>
      <if test="biddoc != null" >
        bidDoc,
      </if>
      <if test="otherdoc != null" >
        otherDoc,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="bussiness != null" >
        bussiness,
      </if>
      <if test="service != null" >
        service,
      </if>
      <if test="technology != null" >
        technology,
      </if>
      <if test="totalscore != null" >
        totalScore,
      </if>
      <if test="isBegin != null" >
        is_begin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pjtId != null" >
        #{pjtId,jdbcType=BIGINT},
      </if>
      <if test="supId != null" >
        #{supId,jdbcType=BIGINT},
      </if>
      <if test="marginId != null" >
        #{marginId,jdbcType=BIGINT},
      </if>
      <if test="ismargin != null" >
        #{ismargin,jdbcType=INTEGER},
      </if>
      <if test="margin != null" >
        #{margin,jdbcType=BIGINT},
      </if>
      <if test="cash != null" >
        #{cash,jdbcType=BIGINT},
      </if>
      <if test="margindoc != null" >
        #{margindoc,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="iswinner != null" >
        #{iswinner,jdbcType=TINYINT},
      </if>
      <if test="listpricedoc != null" >
        #{listpricedoc,jdbcType=VARCHAR},
      </if>
      <if test="biddoc != null" >
        #{biddoc,jdbcType=VARCHAR},
      </if>
      <if test="otherdoc != null" >
        #{otherdoc,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="bussiness != null" >
        #{bussiness,jdbcType=DOUBLE},
      </if>
      <if test="service != null" >
        #{service,jdbcType=DOUBLE},
      </if>
      <if test="technology != null" >
        #{technology,jdbcType=DOUBLE},
      </if>
      <if test="totalscore != null" >
        #{totalscore,jdbcType=DOUBLE},
      </if>
      <if test="isBegin != null" >
        #{isBegin,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suchuner.bidding.pojo.BiddingExample" resultType="java.lang.Integer" >
    select count(*) from bidding
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bidding
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.pjtId != null" >
        pjt_id = #{record.pjtId,jdbcType=BIGINT},
      </if>
      <if test="record.supId != null" >
        sup_id = #{record.supId,jdbcType=BIGINT},
      </if>
      <if test="record.marginId != null" >
        margin_id = #{record.marginId,jdbcType=BIGINT},
      </if>
      <if test="record.ismargin != null" >
        isMargin = #{record.ismargin,jdbcType=INTEGER},
      </if>
      <if test="record.margin != null" >
        margin = #{record.margin,jdbcType=BIGINT},
      </if>
      <if test="record.cash != null" >
        cash = #{record.cash,jdbcType=BIGINT},
      </if>
      <if test="record.margindoc != null" >
        marginDoc = #{record.margindoc,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=INTEGER},
      </if>
      <if test="record.iswinner != null" >
        isWinner = #{record.iswinner,jdbcType=TINYINT},
      </if>
      <if test="record.listpricedoc != null" >
        listPriceDoc = #{record.listpricedoc,jdbcType=VARCHAR},
      </if>
      <if test="record.biddoc != null" >
        bidDoc = #{record.biddoc,jdbcType=VARCHAR},
      </if>
      <if test="record.otherdoc != null" >
        otherDoc = #{record.otherdoc,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.bussiness != null" >
        bussiness = #{record.bussiness,jdbcType=DOUBLE},
      </if>
      <if test="record.service != null" >
        service = #{record.service,jdbcType=DOUBLE},
      </if>
      <if test="record.technology != null" >
        technology = #{record.technology,jdbcType=DOUBLE},
      </if>
      <if test="record.totalscore != null" >
        totalScore = #{record.totalscore,jdbcType=DOUBLE},
      </if>
      <if test="record.isBegin != null" >
        is_begin = #{record.isBegin,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bidding
    set id = #{record.id,jdbcType=BIGINT},
      pjt_id = #{record.pjtId,jdbcType=BIGINT},
      sup_id = #{record.supId,jdbcType=BIGINT},
      margin_id = #{record.marginId,jdbcType=BIGINT},
      isMargin = #{record.ismargin,jdbcType=INTEGER},
      margin = #{record.margin,jdbcType=BIGINT},
      cash = #{record.cash,jdbcType=BIGINT},
      marginDoc = #{record.margindoc,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=INTEGER},
      isWinner = #{record.iswinner,jdbcType=TINYINT},
      listPriceDoc = #{record.listpricedoc,jdbcType=VARCHAR},
      bidDoc = #{record.biddoc,jdbcType=VARCHAR},
      otherDoc = #{record.otherdoc,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      bussiness = #{record.bussiness,jdbcType=DOUBLE},
      service = #{record.service,jdbcType=DOUBLE},
      technology = #{record.technology,jdbcType=DOUBLE},
      totalScore = #{record.totalscore,jdbcType=DOUBLE},
      is_begin = #{record.isBegin,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.suchuner.bidding.pojo.Bidding" >
    update bidding
    <set >
      <if test="pjtId != null" >
        pjt_id = #{pjtId,jdbcType=BIGINT},
      </if>
      <if test="supId != null" >
        sup_id = #{supId,jdbcType=BIGINT},
      </if>
      <if test="marginId != null" >
        margin_id = #{marginId,jdbcType=BIGINT},
      </if>
      <if test="ismargin != null" >
        isMargin = #{ismargin,jdbcType=INTEGER},
      </if>
      <if test="margin != null" >
        margin = #{margin,jdbcType=BIGINT},
      </if>
      <if test="cash != null" >
        cash = #{cash,jdbcType=BIGINT},
      </if>
      <if test="margindoc != null" >
        marginDoc = #{margindoc,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="iswinner != null" >
        isWinner = #{iswinner,jdbcType=TINYINT},
      </if>
      <if test="listpricedoc != null" >
        listPriceDoc = #{listpricedoc,jdbcType=VARCHAR},
      </if>
      <if test="biddoc != null" >
        bidDoc = #{biddoc,jdbcType=VARCHAR},
      </if>
      <if test="otherdoc != null" >
        otherDoc = #{otherdoc,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="bussiness != null" >
        bussiness = #{bussiness,jdbcType=DOUBLE},
      </if>
      <if test="service != null" >
        service = #{service,jdbcType=DOUBLE},
      </if>
      <if test="technology != null" >
        technology = #{technology,jdbcType=DOUBLE},
      </if>
      <if test="totalscore != null" >
        totalScore = #{totalscore,jdbcType=DOUBLE},
      </if>
      <if test="isBegin != null" >
        is_begin = #{isBegin,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suchuner.bidding.pojo.Bidding" >
    update bidding
    set pjt_id = #{pjtId,jdbcType=BIGINT},
      sup_id = #{supId,jdbcType=BIGINT},
      margin_id = #{marginId,jdbcType=BIGINT},
      isMargin = #{ismargin,jdbcType=INTEGER},
      margin = #{margin,jdbcType=BIGINT},
      cash = #{cash,jdbcType=BIGINT},
      marginDoc = #{margindoc,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      isWinner = #{iswinner,jdbcType=TINYINT},
      listPriceDoc = #{listpricedoc,jdbcType=VARCHAR},
      bidDoc = #{biddoc,jdbcType=VARCHAR},
      otherDoc = #{otherdoc,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      bussiness = #{bussiness,jdbcType=DOUBLE},
      service = #{service,jdbcType=DOUBLE},
      technology = #{technology,jdbcType=DOUBLE},
      totalScore = #{totalscore,jdbcType=DOUBLE},
      is_begin = #{isBegin,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>