<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suchuner.bidding.mapper.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.suchuner.bidding.pojo.Project" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="projectNum" property="projectnum" jdbcType="VARCHAR" />
    <result column="itemName" property="itemname" jdbcType="VARCHAR" />
    <result column="budget" property="budget" jdbcType="BIGINT" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="notice" property="notice" jdbcType="VARCHAR" />
    <result column="biddingDoc" property="biddingdoc" jdbcType="VARCHAR" />
    <result column="buyListAndReqDoc" property="buylistandreqdoc" jdbcType="VARCHAR" />
    <result column="biddingRequireDoc" property="biddingrequiredoc" jdbcType="VARCHAR" />
    <result column="otherDoc" property="otherdoc" jdbcType="VARCHAR" />
    <result column="starter" property="starter" jdbcType="BIGINT" />
    <result column="checker" property="checker" jdbcType="BIGINT" />
    <result column="startDate" property="startdate" jdbcType="DATE" />
    <result column="checkerDate" property="checkerdate" jdbcType="DATE" />
    <result column="dateline" property="dateline" jdbcType="DATE" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="judgeNums" property="judgenums" jdbcType="INTEGER" />
    <result column="winner" property="winner" jdbcType="BIGINT" />
    <result column="endDate" property="enddate" jdbcType="DATE" />
    <result column="bid" property="bid" jdbcType="BIGINT" />
    <result column="isBegin" property="isbegin" jdbcType="TINYINT" />
    <result column="reportDoc" property="reportdoc" jdbcType="VARCHAR" />
    <result column="isRebidding" property="isrebidding" jdbcType="TINYINT" />
    <result column="more_winner_id" property="moreWinnerId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, projectNum, itemName, budget, introduction, status, notice, biddingDoc, buyListAndReqDoc, 
    biddingRequireDoc, otherDoc, starter, checker, startDate, checkerDate, dateline, 
    deadline, judgeNums, winner, endDate, bid, isBegin, reportDoc, isRebidding, more_winner_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.suchuner.bidding.pojo.ProjectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from project
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from project
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.suchuner.bidding.pojo.ProjectExample" >
    delete from project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.suchuner.bidding.pojo.Project" >
    insert into project (id, projectNum, itemName, 
      budget, introduction, status, 
      notice, biddingDoc, buyListAndReqDoc, 
      biddingRequireDoc, otherDoc, starter, 
      checker, startDate, checkerDate, 
      dateline, deadline, judgeNums, 
      winner, endDate, bid, isBegin, 
      reportDoc, isRebidding, more_winner_id
      )
    values (#{id,jdbcType=BIGINT}, #{projectnum,jdbcType=VARCHAR}, #{itemname,jdbcType=VARCHAR}, 
      #{budget,jdbcType=BIGINT}, #{introduction,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{notice,jdbcType=VARCHAR}, #{biddingdoc,jdbcType=VARCHAR}, #{buylistandreqdoc,jdbcType=VARCHAR}, 
      #{biddingrequiredoc,jdbcType=VARCHAR}, #{otherdoc,jdbcType=VARCHAR}, #{starter,jdbcType=BIGINT}, 
      #{checker,jdbcType=BIGINT}, #{startdate,jdbcType=DATE}, #{checkerdate,jdbcType=DATE}, 
      #{dateline,jdbcType=DATE}, #{deadline,jdbcType=TIMESTAMP}, #{judgenums,jdbcType=INTEGER}, 
      #{winner,jdbcType=BIGINT}, #{enddate,jdbcType=DATE}, #{bid,jdbcType=BIGINT}, #{isbegin,jdbcType=TINYINT}, 
      #{reportdoc,jdbcType=VARCHAR}, #{isrebidding,jdbcType=TINYINT}, #{moreWinnerId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.suchuner.bidding.pojo.Project" >
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectnum != null" >
        projectNum,
      </if>
      <if test="itemname != null" >
        itemName,
      </if>
      <if test="budget != null" >
        budget,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="notice != null" >
        notice,
      </if>
      <if test="biddingdoc != null" >
        biddingDoc,
      </if>
      <if test="buylistandreqdoc != null" >
        buyListAndReqDoc,
      </if>
      <if test="biddingrequiredoc != null" >
        biddingRequireDoc,
      </if>
      <if test="otherdoc != null" >
        otherDoc,
      </if>
      <if test="starter != null" >
        starter,
      </if>
      <if test="checker != null" >
        checker,
      </if>
      <if test="startdate != null" >
        startDate,
      </if>
      <if test="checkerdate != null" >
        checkerDate,
      </if>
      <if test="dateline != null" >
        dateline,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
      <if test="judgenums != null" >
        judgeNums,
      </if>
      <if test="winner != null" >
        winner,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="bid != null" >
        bid,
      </if>
      <if test="isbegin != null" >
        isBegin,
      </if>
      <if test="reportdoc != null" >
        reportDoc,
      </if>
      <if test="isrebidding != null" >
        isRebidding,
      </if>
      <if test="moreWinnerId != null" >
        more_winner_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectnum != null" >
        #{projectnum,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null" >
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="budget != null" >
        #{budget,jdbcType=BIGINT},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="notice != null" >
        #{notice,jdbcType=VARCHAR},
      </if>
      <if test="biddingdoc != null" >
        #{biddingdoc,jdbcType=VARCHAR},
      </if>
      <if test="buylistandreqdoc != null" >
        #{buylistandreqdoc,jdbcType=VARCHAR},
      </if>
      <if test="biddingrequiredoc != null" >
        #{biddingrequiredoc,jdbcType=VARCHAR},
      </if>
      <if test="otherdoc != null" >
        #{otherdoc,jdbcType=VARCHAR},
      </if>
      <if test="starter != null" >
        #{starter,jdbcType=BIGINT},
      </if>
      <if test="checker != null" >
        #{checker,jdbcType=BIGINT},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=DATE},
      </if>
      <if test="checkerdate != null" >
        #{checkerdate,jdbcType=DATE},
      </if>
      <if test="dateline != null" >
        #{dateline,jdbcType=DATE},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="judgenums != null" >
        #{judgenums,jdbcType=INTEGER},
      </if>
      <if test="winner != null" >
        #{winner,jdbcType=BIGINT},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=DATE},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=BIGINT},
      </if>
      <if test="isbegin != null" >
        #{isbegin,jdbcType=TINYINT},
      </if>
      <if test="reportdoc != null" >
        #{reportdoc,jdbcType=VARCHAR},
      </if>
      <if test="isrebidding != null" >
        #{isrebidding,jdbcType=TINYINT},
      </if>
      <if test="moreWinnerId != null" >
        #{moreWinnerId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suchuner.bidding.pojo.ProjectExample" resultType="java.lang.Integer" >
    select count(*) from project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update project
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.projectnum != null" >
        projectNum = #{record.projectnum,jdbcType=VARCHAR},
      </if>
      <if test="record.itemname != null" >
        itemName = #{record.itemname,jdbcType=VARCHAR},
      </if>
      <if test="record.budget != null" >
        budget = #{record.budget,jdbcType=BIGINT},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.notice != null" >
        notice = #{record.notice,jdbcType=VARCHAR},
      </if>
      <if test="record.biddingdoc != null" >
        biddingDoc = #{record.biddingdoc,jdbcType=VARCHAR},
      </if>
      <if test="record.buylistandreqdoc != null" >
        buyListAndReqDoc = #{record.buylistandreqdoc,jdbcType=VARCHAR},
      </if>
      <if test="record.biddingrequiredoc != null" >
        biddingRequireDoc = #{record.biddingrequiredoc,jdbcType=VARCHAR},
      </if>
      <if test="record.otherdoc != null" >
        otherDoc = #{record.otherdoc,jdbcType=VARCHAR},
      </if>
      <if test="record.starter != null" >
        starter = #{record.starter,jdbcType=BIGINT},
      </if>
      <if test="record.checker != null" >
        checker = #{record.checker,jdbcType=BIGINT},
      </if>
      <if test="record.startdate != null" >
        startDate = #{record.startdate,jdbcType=DATE},
      </if>
      <if test="record.checkerdate != null" >
        checkerDate = #{record.checkerdate,jdbcType=DATE},
      </if>
      <if test="record.dateline != null" >
        dateline = #{record.dateline,jdbcType=DATE},
      </if>
      <if test="record.deadline != null" >
        deadline = #{record.deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="record.judgenums != null" >
        judgeNums = #{record.judgenums,jdbcType=INTEGER},
      </if>
      <if test="record.winner != null" >
        winner = #{record.winner,jdbcType=BIGINT},
      </if>
      <if test="record.enddate != null" >
        endDate = #{record.enddate,jdbcType=DATE},
      </if>
      <if test="record.bid != null" >
        bid = #{record.bid,jdbcType=BIGINT},
      </if>
      <if test="record.isbegin != null" >
        isBegin = #{record.isbegin,jdbcType=TINYINT},
      </if>
      <if test="record.reportdoc != null" >
        reportDoc = #{record.reportdoc,jdbcType=VARCHAR},
      </if>
      <if test="record.isrebidding != null" >
        isRebidding = #{record.isrebidding,jdbcType=TINYINT},
      </if>
      <if test="record.moreWinnerId != null" >
        more_winner_id = #{record.moreWinnerId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update project
    set id = #{record.id,jdbcType=BIGINT},
      projectNum = #{record.projectnum,jdbcType=VARCHAR},
      itemName = #{record.itemname,jdbcType=VARCHAR},
      budget = #{record.budget,jdbcType=BIGINT},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      notice = #{record.notice,jdbcType=VARCHAR},
      biddingDoc = #{record.biddingdoc,jdbcType=VARCHAR},
      buyListAndReqDoc = #{record.buylistandreqdoc,jdbcType=VARCHAR},
      biddingRequireDoc = #{record.biddingrequiredoc,jdbcType=VARCHAR},
      otherDoc = #{record.otherdoc,jdbcType=VARCHAR},
      starter = #{record.starter,jdbcType=BIGINT},
      checker = #{record.checker,jdbcType=BIGINT},
      startDate = #{record.startdate,jdbcType=DATE},
      checkerDate = #{record.checkerdate,jdbcType=DATE},
      dateline = #{record.dateline,jdbcType=DATE},
      deadline = #{record.deadline,jdbcType=TIMESTAMP},
      judgeNums = #{record.judgenums,jdbcType=INTEGER},
      winner = #{record.winner,jdbcType=BIGINT},
      endDate = #{record.enddate,jdbcType=DATE},
      bid = #{record.bid,jdbcType=BIGINT},
      isBegin = #{record.isbegin,jdbcType=TINYINT},
      reportDoc = #{record.reportdoc,jdbcType=VARCHAR},
      isRebidding = #{record.isrebidding,jdbcType=TINYINT},
      more_winner_id = #{record.moreWinnerId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.suchuner.bidding.pojo.Project" >
    update project
    <set >
      <if test="projectnum != null" >
        projectNum = #{projectnum,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null" >
        itemName = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="budget != null" >
        budget = #{budget,jdbcType=BIGINT},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="notice != null" >
        notice = #{notice,jdbcType=VARCHAR},
      </if>
      <if test="biddingdoc != null" >
        biddingDoc = #{biddingdoc,jdbcType=VARCHAR},
      </if>
      <if test="buylistandreqdoc != null" >
        buyListAndReqDoc = #{buylistandreqdoc,jdbcType=VARCHAR},
      </if>
      <if test="biddingrequiredoc != null" >
        biddingRequireDoc = #{biddingrequiredoc,jdbcType=VARCHAR},
      </if>
      <if test="otherdoc != null" >
        otherDoc = #{otherdoc,jdbcType=VARCHAR},
      </if>
      <if test="starter != null" >
        starter = #{starter,jdbcType=BIGINT},
      </if>
      <if test="checker != null" >
        checker = #{checker,jdbcType=BIGINT},
      </if>
      <if test="startdate != null" >
        startDate = #{startdate,jdbcType=DATE},
      </if>
      <if test="checkerdate != null" >
        checkerDate = #{checkerdate,jdbcType=DATE},
      </if>
      <if test="dateline != null" >
        dateline = #{dateline,jdbcType=DATE},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="judgenums != null" >
        judgeNums = #{judgenums,jdbcType=INTEGER},
      </if>
      <if test="winner != null" >
        winner = #{winner,jdbcType=BIGINT},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=DATE},
      </if>
      <if test="bid != null" >
        bid = #{bid,jdbcType=BIGINT},
      </if>
      <if test="isbegin != null" >
        isBegin = #{isbegin,jdbcType=TINYINT},
      </if>
      <if test="reportdoc != null" >
        reportDoc = #{reportdoc,jdbcType=VARCHAR},
      </if>
      <if test="isrebidding != null" >
        isRebidding = #{isrebidding,jdbcType=TINYINT},
      </if>
      <if test="moreWinnerId != null" >
        more_winner_id = #{moreWinnerId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suchuner.bidding.pojo.Project" >
    update project
    set projectNum = #{projectnum,jdbcType=VARCHAR},
      itemName = #{itemname,jdbcType=VARCHAR},
      budget = #{budget,jdbcType=BIGINT},
      introduction = #{introduction,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      notice = #{notice,jdbcType=VARCHAR},
      biddingDoc = #{biddingdoc,jdbcType=VARCHAR},
      buyListAndReqDoc = #{buylistandreqdoc,jdbcType=VARCHAR},
      biddingRequireDoc = #{biddingrequiredoc,jdbcType=VARCHAR},
      otherDoc = #{otherdoc,jdbcType=VARCHAR},
      starter = #{starter,jdbcType=BIGINT},
      checker = #{checker,jdbcType=BIGINT},
      startDate = #{startdate,jdbcType=DATE},
      checkerDate = #{checkerdate,jdbcType=DATE},
      dateline = #{dateline,jdbcType=DATE},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      judgeNums = #{judgenums,jdbcType=INTEGER},
      winner = #{winner,jdbcType=BIGINT},
      endDate = #{enddate,jdbcType=DATE},
      bid = #{bid,jdbcType=BIGINT},
      isBegin = #{isbegin,jdbcType=TINYINT},
      reportDoc = #{reportdoc,jdbcType=VARCHAR},
      isRebidding = #{isrebidding,jdbcType=TINYINT},
      more_winner_id = #{moreWinnerId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>