<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suchuner.bidding.mapper.ScoreMapper" >
  <resultMap id="BaseResultMap" type="com.suchuner.bidding.pojo.Score" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="pjt_id" property="pjtId" jdbcType="BIGINT" />
    <result column="sup_id" property="supId" jdbcType="BIGINT" />
    <result column="judge_id" property="judgeId" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="bussiness" property="bussiness" jdbcType="INTEGER" />
    <result column="service" property="service" jdbcType="INTEGER" />
    <result column="technology" property="technology" jdbcType="INTEGER" />
    <result column="suggestion" property="suggestion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pjt_id, sup_id, judge_id, price, bussiness, service, technology, suggestion
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.suchuner.bidding.pojo.ScoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from score
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from score
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.suchuner.bidding.pojo.ScoreExample" >
    delete from score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.suchuner.bidding.pojo.Score" >
    insert into score (id, pjt_id, sup_id, 
      judge_id, price, bussiness, 
      service, technology, suggestion
      )
    values (#{id,jdbcType=BIGINT}, #{pjtId,jdbcType=BIGINT}, #{supId,jdbcType=BIGINT}, 
      #{judgeId,jdbcType=BIGINT}, #{price,jdbcType=INTEGER}, #{bussiness,jdbcType=INTEGER}, 
      #{service,jdbcType=INTEGER}, #{technology,jdbcType=INTEGER}, #{suggestion,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.suchuner.bidding.pojo.Score" >
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pjtId != null" >
        pjt_id,
      </if>
      <if test="supId != null" >
        sup_id,
      </if>
      <if test="judgeId != null" >
        judge_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="bussiness != null" >
        bussiness,
      </if>
      <if test="service != null" >
        service,
      </if>
      <if test="technology != null" >
        technology,
      </if>
      <if test="suggestion != null" >
        suggestion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pjtId != null" >
        #{pjtId,jdbcType=BIGINT},
      </if>
      <if test="supId != null" >
        #{supId,jdbcType=BIGINT},
      </if>
      <if test="judgeId != null" >
        #{judgeId,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="bussiness != null" >
        #{bussiness,jdbcType=INTEGER},
      </if>
      <if test="service != null" >
        #{service,jdbcType=INTEGER},
      </if>
      <if test="technology != null" >
        #{technology,jdbcType=INTEGER},
      </if>
      <if test="suggestion != null" >
        #{suggestion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suchuner.bidding.pojo.ScoreExample" resultType="java.lang.Integer" >
    select count(*) from score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update score
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.pjtId != null" >
        pjt_id = #{record.pjtId,jdbcType=BIGINT},
      </if>
      <if test="record.supId != null" >
        sup_id = #{record.supId,jdbcType=BIGINT},
      </if>
      <if test="record.judgeId != null" >
        judge_id = #{record.judgeId,jdbcType=BIGINT},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=INTEGER},
      </if>
      <if test="record.bussiness != null" >
        bussiness = #{record.bussiness,jdbcType=INTEGER},
      </if>
      <if test="record.service != null" >
        service = #{record.service,jdbcType=INTEGER},
      </if>
      <if test="record.technology != null" >
        technology = #{record.technology,jdbcType=INTEGER},
      </if>
      <if test="record.suggestion != null" >
        suggestion = #{record.suggestion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update score
    set id = #{record.id,jdbcType=BIGINT},
      pjt_id = #{record.pjtId,jdbcType=BIGINT},
      sup_id = #{record.supId,jdbcType=BIGINT},
      judge_id = #{record.judgeId,jdbcType=BIGINT},
      price = #{record.price,jdbcType=INTEGER},
      bussiness = #{record.bussiness,jdbcType=INTEGER},
      service = #{record.service,jdbcType=INTEGER},
      technology = #{record.technology,jdbcType=INTEGER},
      suggestion = #{record.suggestion,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.suchuner.bidding.pojo.Score" >
    update score
    <set >
      <if test="pjtId != null" >
        pjt_id = #{pjtId,jdbcType=BIGINT},
      </if>
      <if test="supId != null" >
        sup_id = #{supId,jdbcType=BIGINT},
      </if>
      <if test="judgeId != null" >
        judge_id = #{judgeId,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="bussiness != null" >
        bussiness = #{bussiness,jdbcType=INTEGER},
      </if>
      <if test="service != null" >
        service = #{service,jdbcType=INTEGER},
      </if>
      <if test="technology != null" >
        technology = #{technology,jdbcType=INTEGER},
      </if>
      <if test="suggestion != null" >
        suggestion = #{suggestion,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suchuner.bidding.pojo.Score" >
    update score
    set pjt_id = #{pjtId,jdbcType=BIGINT},
      sup_id = #{supId,jdbcType=BIGINT},
      judge_id = #{judgeId,jdbcType=BIGINT},
      price = #{price,jdbcType=INTEGER},
      bussiness = #{bussiness,jdbcType=INTEGER},
      service = #{service,jdbcType=INTEGER},
      technology = #{technology,jdbcType=INTEGER},
      suggestion = #{suggestion,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>